{% if site.author.github_username %}
"https://github.com/{{ site.author.github_username }}"
{% endif %}
{% if site.author.linkedin_id %}
,"https://www.linkedin.com/in/{{ site.author.linkedin_id }}"
{% endif %}
{% if site.author.quora_id %}
,"https://www.quora.com/profile/{{ site.author.quora_id }}"
{% endif %}
{% if site.author.researchgate_id %}
,"https://www.researchgate.net/profile/{{ site.author.researchgate_id }}"
{% endif %}
{% if site.author.facebook_username %}
,"https://www.facebook.com/{{ site.author.facebook_username }}"
{% endif %}
{% if site.author.twitter_username %}
,"https://twitter.com/{{ site.author.twitter_username }}"
{% endif %}
{% if site.author.goodreads_username %}
,"https://www.goodreads.com/{{ site.author.goodreads_username }}"
{% endif %}
