{% assign repo = nil %}
{% for repository in site.github.public_repositories %}
  {% if include.project.github_repo %}
    {% if repository.name == include.project.github_repo %}
      {% assign repo = repository %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}
{% if repo %}
        <div class="row">
	<div class="btn-group-xs" role="group">
        <a class="btn btn-white btn-xs" href="{{ repo.html_url }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
        {% if repo.stargazers_count %}
	<a class="btn btn-white btn-xs" data-toggle="tooltip" target="_blank" title="github stars" href="{{ repo.html_url }}/stargazers"><i class="fas fa-star"></i> {{ repo.stargazers_count }}</a>
        {% endif %}
        {% if repo.forks_count %}
	<a class="btn btn-white btn-xs" data-toggle="tooltip" target="_blank" title="github forks" href="{{ repo.html_url }}/network/members"><i class="fas fa-code-branch"></i> {{ repo.forks_count }}</a>
        {% endif %}
	</div>
	</div>
{% endif %}
