 <!-- favicon -->
  <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}{{ "/static/assets/img/favicon.ico" }}">

  <!-- Main CSS -->
  <link href="{{ "/static/assets/app-20190204.min.css" | prepend: site.baseurl }}" rel="stylesheet"> 
  <link href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- Main Scripts -->
  <script src="{{"/static/assets/app-20190204.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"/static/assets/blog-20190204.min.js"| prepend: site.baseurl }}"></script>
  <script src={{ "/static/js/coliru.js" | absolute_url }} type="text/javascript"></script>

  <!-- Latex using MathJack -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  <!-- Google AdSense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6196184620180313",
      enable_page_level_ads: true
    });
  </script>
  <!-- for AMP Validation -->
  <script async src="https://cdn.ampproject.org/v0.js"></script>
