<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1; minimum-scale=1; user-scalable=no;">
  <meta name="google-site-verification" content="mhYGvP4z9Y1XBNcoldg0TbnWfgOuPAZ77pCT2Jqyp9U" />
  <meta content="{{ site.description }}" name="description">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ site.title }}</title>
  <!-- OGP tags -->
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="profile" / >
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ "/static/assets/img/landing/dp.jpg" }}" />
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">
  
  <!-- Main CSS -->
  <link href="{{ "/static/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/static/assets/app-20200503.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  
  

  <!-- Main scripts -->
  <script src="{{ "/static/assets/app-20200503.min.js" | prepend: site.baseurl }}"></script>
  {% if site.data.index.projects %}
  <script async defer src="{{ "/static/js/github_api.min.js" | prepend: site.baseurl }}"></script>
  {% endif %}
  {% if site.data.index.language %}
  <script src="{{"/static/assets/i18-20200503.min.js"| prepend: site.baseurl }}"></script>
  {% endif %}

  <!-- Google AdSense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6196184620200503",
      enable_page_level_ads: true
    });
  </script>

  <!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
              var typed = new Typed('#typed', {
                stringsElement: '#typed-strings',
                typeSpeed: 0,
                fadeout:true,
                smartBackspace: false,
                backSpeed: 0,
                contentType: 'html',
                loop: false,

              });
            });
  </script>
-->
  <!-- Academia icons -->
  <link rel="stylesheet" href="{{ "/static/css/academicons.min.css" | prepend: site.baseurl }}"/>
  <!-- for AMP Validation -->
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <!--- Google Structured data -->
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Website",
    "url": "dhruveshp.com",
    "name": "dhruveshp",
    "about" : {
		"@type": "Thing",
        "description": "Personal website of Dhruvesh Patel",
        "image": "{{ site.url }}{{ site.baseurl }}{{ "/static/assets/img/landing/dp.jpg" }}",
        "name": "Dhruvesh Patel"
    },
    "author": {
        "@type": "Person",
        "name": "Dhruvesh Patel",
        "additionalName": "Nikhilkumar",
        "alumniOf": {
            "@type": "EducationalOrganization",
            "name" : "Indian Institute Of Technology Madras",
            "url": "https://www.iitm.ac.in"
        }
    }
  }
  </script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Dhruvesh Patel",
    "additionalName": "Nikhilkumar",
    "url": "dhruveshp.com",
    "jobTitle": "Software Engineer",
    "worksFor": {
        "@type": "Organization",
        "name": "Kenome",
        "url": "http://www.kenome.io"
    },
    "alumniOf": {
            "@type": "EducationalOrganization",
            "name" : "Indian Institute Of Technology Madras",
            "url": "https://www.iitm.ac.in"
        },
    "gender": "male",
    "image": "{{ site.url }}{{ site.baseurl }}{{ "/static/assets/img/landing/dp.jpg" }}",
    "sameAs": [
        "https://www.facebook.com/dhruvdplayer",
        "https://www.linkedin.com/in/dhruveshp",
		"https://www.researchgate.net/profile/Dhruvesh_Patel3",
        "https://www.quora.com/profile/Dhruvesh-Patel",
        "iitm.academia.edu/DhruveshPatel",
        "https://www.goodreads.com/dhruvdreader"
    ]
}
  </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120200503-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120200503-2');
</script>

<!-- Crisp chatbox -->
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="459ca45f-1782-4eec-ba74-ec2cf308f0a6";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

<!-- For parsing inoreader rss-->
<!-- see: https://css-tricks.com/how-to-fetch-and-parse-rss-feeds-in-javascript/ -->
<script src="http://code.jquery.com/jquery-1.11.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-rss/3.3.0/jquery.rss.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script>
      jQuery(function($) {
        $("#inoreader_feed").rss(
        "https://www.inoreader.com/stream/user/1004645651/tag/user-broadcasted",
		{
			limit: 5,
			support: false,
			dateFormat: 'dddd, MMM Do YYYY',
			tokens: {
			      previewImage: function(entry, tokens) {
				      console.log(tokens);
				      var target = tokens.url;
				      var key    = "f924a170f2831bcd65e047842dad78cd";
				      var img = "{{ site.url }}{{ site.baseurl }}{{ "/static/assets/img/landing/typewritter.jpg" }}";
				      const resp = $.ajax({
				      url: "https://api.linkpreview.net",
				      dataType: "jsonp",
				      data: {q: target, key: key},
				      success: function (response) {
				        if (response.status != 200) { img=resp.responseJSON.image; }
					    }
				      });
			      return encodeURI(img);
			      }
			},
			entryTemplate: `
				<div class="article_magazine_content_wraper">
					
					<div class="article_magazine_picture_wrapper pull_left">
						<a href="{url}" target="_blank">
							<div class="article_picture" style="background-image:url({previewImage})">
							</div>
						</a>
					</div>
					<div class="article_title_content">
						<div class="article_title">
							<a class="article_magazine_title_link" target="_blank" href="{url}"><span class="navy">{title}</span></a>
						</div>
						
					<div>
						<p><span>{shortBodyPlain}</span></p>
					</div>
						<div class="article_magazine_footer">
							<span>Published by {author} on {date}</span>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				`
		}
  	);    
      });
</script>
</head>
