{% assign wordcount = include.content | number_of_words %}

<script type="application/ld+json">
{  
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "genre":"{{ include.category }}",
   "keywords":"{{ include.keywords }}",
   "wordCount":"{{ wordcount }}",
   "url":"{{ include.link | absolute_url }}",
   "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
   "author":{  
      "@type":"Person",
      "name": "{{ include.site.author.first_name }} {{ include.site.author.last_name }}",
      "sameAs":[  
        {% include all_social.html site=include.site%}
      ],
      "image":"{{ "/static/assets/landing/dp.jpg" | absolute_url }}"
   },
   "publisher":{  
      "@type":"Organization",
      "name": "{{ include.site.title }}",
      "sameAs":[  
        {% include all_social.html site=include.site%}
      ],
      "image":"{{ "/static/assets/img/landing/dp.jpg" | absolute_url }}",
      "logo":{
         "@type":"ImageObject",
         "contentUrl":"{{ "/static/assets/img/landing/site_image.png" | absolute_url }}",
         "height":"1000",
         "width":"1000",
         "url":"{{ "/static/assets/img/landing/foricon.png" | absolute_url }}"
      }
   },
   "image":{  
      "@type":"ImageObject",
      "contentUrl":"{{ "/static/assets/img/landing/site_image.png" | absolute_url }}",
      "height":"1000",
      "width":"1000",
      "url":"{{ include.site.url }}"
   },
   "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"{{ include.link | absolute_url }}"
   },
   "dateModified":"{{ include.date | | date: '%Y-%m-%d' }}"{% comment %},
   "articleBody":"{{ include.content | markdownify | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"{% endcomment %}
}
</script>
