// taken from https://github.com/alshedivat/al-folio with the same license
// All credits to the original author
.clearfix::after, .clearfix::before {
  content: " ";
  clear: both;
  display: table;
}
.publications {
    h2 {
        color: $brand-color;
        // border-bottom: 1px solid $brand-color;
        // border-top: 1px solid $brand-color;
        font-size: 32px;
        margin-bottom: 30px;
        // padding: 20px 0;
        text-align: center;
    }
}
.year {
    border-top: 1px solid $text-color;
    color: $text-color;
    margin: 0 -3em -2.5ex -2em;
    padding-top: 1ex;
    text-align: right;
}
.bibliography {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit;
    list-style-type: none;

    li {
        margin: 10px 0;
        position: relative;
	text-align: center;

        span { display: block; }
        .title { font-weight: bolder;
		 font-size: $base-font-size+1px;
       		}
        .author {
            a {
                border-bottom: 1px dashed $brand-color;
                &:hover {
                    border-bottom-style: solid;
                    text-decoration: none;
                }
            }
            > em {
                border-bottom: 1px solid;
                font-style: normal;
            }
        }
        a.abstract, a.bibtex { cursor: pointer; }
        .hiddenelem {
            font-size: $small-font-size;
            max-height: 0px;
            overflow: hidden;
            text-align: justify;
            -webkit-transition: 0.15s ease;
            -moz-transition: 0.15s ease;
            -ms-transition: 0.15s ease;
            -o-transition: 0.15s ease;
            transition: all 0.15s ease;

            p {
                line-height: 1.4em;
                margin: 10px;
            }
            pre {
                font-size: 1em;
                line-height: 1.4em;
                padding: 10px;
            }
        }
        .hiddenelem.open {
            max-height: 100em;
            -webkit-transition: 0.15s ease;
            -moz-transition: 0.15s ease;
            -ms-transition: 0.15s ease;
            -o-transition: 0.15s ease;
            transition: all 0.15s ease;
        }
        span.abstract.hiddenelem {
            border: dashed 1px $background-color;
        }
        span.abstract.hiddenelem.open {
            border-color: $brand-color;
        }
    }
    abbr {
        position: absolute;
            left: -7em;
    }
 }
.star {
    color: $brand-color;
    font-style: normal;
}
