.iframe-container {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9*/
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.article_title {
    margin-bottom: 10px;
}
.article_magazine_picture_wrapper {
    cursor: pointer;
    width: 40%;
}

.pull_left {
    float: left;
}

.article_title_content {
    float: right;
    width: 60%;
}

.article_author {
    font-style: italic;
    font-size: 0.85em;
    padding-top: 5px;
    padding-bottom: 10px;
}

.article_picture {
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center 5px;
    border-radius: 3px;
    margin-right: 10px;
    min-height: 170px;
    max-width: 100%;
    height: auto;
    width: auto;
    padding-bottom: 20%;
}
